<h1>Welcome to Life In Journal</h1>
<p><%= link_to "Sign Up", new_author_path %></p>
<p><%= link_to "Add a New Journal", new_journal_path %></p>
<p><%= link_to "Add a New Entry", new_journal_entry_path %></p>
