<%= form_for (@journal) do |f| %>

  <div class="form-group">
    <%= f.label :journal_title %>
    <%= f.text_field :journal_title, class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Submit", class: "btn btn-primary btn-sm" %>
  </div>
<% end %>
