Your Journals

<% @journals.each do |journal|  %>
<ul>
  <li><%=  journal.journal_title %></li>
  <li><%=  link_to "View this journal", journal %>
  <p><%= link_to "Edit this Journal", edit_journal_path(journal) %></p>
</ul>
<% end %>

<p><%= link_to "Add a New Journal", new_journal_path %></p>
